<header>
    <h1>{{baralho.name}}</h1> <button [routerLink]="'/baralho/edit/'+baralho.id" ><app-icons icon="edit" [setClass]="['icon-menu']"></app-icons></button>
</header>

<div id="data-deck">
    <div class="data-list">
        <span>SuperTipos</span>
        <div>
            <ng-container *ngFor="let type of baralho.superTipo">
                <span>{{type.label}} <span>{{type.count}}</span></span>
            </ng-container>
        </div>
    </div>
    <div class="data-list">
        <span>Tipos</span>
        <div>
            <span id="cor-final" [ngStyle]="{'background-color': baralho.cor||'var(--primary)'}">
                <ng-container *ngIf="baralho.tipos?.length">{{this.baralho.tipos[0].label[0]}}</ng-container>
            </span>
            <ng-container *ngFor="let type of baralho.tipos">
                <span>{{type.label}} <span>{{type.count}}</span></span>
            </ng-container>
        </div>
    </div>
    <div class="graficos" [ngStyle]="{'min-width': ((baralho.tipos?.length || 0) > 4) ? '50%' : 'auto'}">
        <span>Nível de Raridade </span>
        <div>
            <span [ngStyle]="{'width': (baralho.raridades || 0)+'%'}"></span>
            <div>{{((baralho.raridades || 0).toFixed(1) || 0)}}</div>
        </div>
    </div>
    <div class="graficos" [ngStyle]="{'min-width': ((baralho.tipos?.length || 0) > 4) ? '50%' : 'auto'}">
        <span>Quantidade de Cartas</span>
        <div>
            <span
                [ngStyle]="{'width': baralho.cartas.length*100/60 +'%'}"
                [ngClass]="{
                    '-danger':baralho.cartas.length<24,
                    '-success':baralho.cartas.length>=24 && baralho.cartas.length<=50,
                    '-warning':(baralho.cartas.length>50)
                }"
            ></span>
            <div><span>{{baralho.cartas.length}}</span></div>
        </div>
    </div>
</div>
<div id="list-deck">
    <ng-container *ngFor="let carta of baralho.cartas">
        <div class="carta-single">
            <img [src]="carta.images.small" [alt]="carta.name" />
            <span>
                <button (click)="verCarta(carta.id)"><app-icons icon="view"></app-icons></button>
            </span>
        </div>
    </ng-container>
</div>

<ng-template #viewCard></ng-template>
