<header>
    <h1>Meus Baralhos</h1>
    
    <a id="criar-baralho" routerLink="/baralho/new">
        <app-icons icon="baralhoPlus" [setClass]="['icon-menu']"></app-icons><span>Novo Baralho</span>
    </a>
</header>
<!-- Carragando -->
<ng-container *ngIf="carregandoPagina">
    <main>
        <ng-container *ngFor="let baralho of [].constructor((paginacao.limit || 9)/4)">
            <span class="skeleton" [ngStyle]="{'width': '100%', 'height':'250px', 'border-radius':'10px', 'opacity':0.5 }"></span>
        </ng-container>  
    </main>
</ng-container>

<!-- Listagem -->
<main *ngIf="listagem.length">
        <ng-container *ngFor="let baralho of listagem">
            <div class="card">
                <div class="card-icon" [ngStyle]="{'background-color':  cores[primeiraCor(baralho)]}" >
                    <span [ngStyle]="{'background-color':  misturarCor('white', 60, primeiraCor(baralho))}"></span>
                </div>
                <div class="main-card">
                    <span>📆Criado: <strong>{{baralho.dataCriacao | date}}</strong></span>
                    <h2>{{baralho.nome}}</h2>
                    <div class="detail">
                        <div class="main-data">
                            <div class="tag-card">Cartas
                                <span
                                [ngStyle]="{
                                    'color':  misturarCor('white', 60, primeiraCor(baralho)),
                                    'background-color': misturarCor('transparent', 70, primeiraCor(baralho)),
                                }"
                                >
                                    <span>{{baralho.cartas.length}}</span>
                                </span>
                            </div>
                            <div class="tag-card">Raridade
                                <span
                                [ngStyle]="{
                                    'color': misturarCor('white', 60, primeiraCor(baralho)),
                                    'background-color': misturarCor('transparent', 70, primeiraCor(baralho)),
                                }"
                                >
                                    <span class="porcent-number">{{(baralho.raridade || 0).toFixed(0)}}<i>%</i></span>
                                </span>
                            </div>
                        </div>
                        
                        <div *ngIf="baralho.superTipos.length">
                            <span class="title-detail" 
                            [ngStyle]="{
                                'color': misturarCor('white', 60, primeiraCor(baralho)),
                            }">
                                Supertipos:
                            </span>
                            <ng-container *ngFor="let type of baralho.superTipos">
                                <div class="tag-card">{{type.label}}
                                    <span
                                    [ngStyle]="{
                                        'color': misturarCor('white', 60, primeiraCor(baralho)),
                                        'background-color': misturarCor('transparent', 70, primeiraCor(baralho)),
                                    }"
                                    ><span>{{type.count}}</span></span>
                                </div>
                            </ng-container>
                        </div>
                        
                        <div *ngIf="baralho.tipos.length">
                            <span class="title-detail" 
                            [ngStyle]="{
                                'color': misturarCor('white', 60, primeiraCor(baralho)),
                            }">
                                Tipos:
                            </span>
                            <ng-container *ngFor="let type of baralho.tipos">
                                <div class="tag-card">
                                    {{type.label}}
                                    <span
                                    [ngStyle]="{
                                        'color': misturarCor('white', 60, type.label),
                                        'background-color': misturarCor('transparent', 70, type.label),
                                    }"
                                    ><span>{{type.count}}</span></span>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="card-acton">
                    <button [routerLink]="'/baralho/edit/'+baralho.id" ><app-icons icon="edit" [setClass]="['icon-menu']"></app-icons></button>
                    <button [routerLink]="'/baralho/'+baralho.id" ><app-icons icon="view" [setClass]="['icon-menu']"></app-icons></button>
                    <button (click)="avisoDeletar(baralho.id)" ><app-icons icon="delete" [setClass]="['icon-menu']"></app-icons></button>
                </div>
            </div>
        </ng-container>
</main>

<!-- Sem Itens-->
<ng-container *ngIf="!listagem.length && !carregandoPagina">
    <div class="no-data">
        <app-icons icon="noFile"></app-icons>
        <span>Nenhum Baralho foi encontrado.</span>
        <button routerLink="/baralho/new">CRIAR UM NOVO BARALHO</button>
    </div>
</ng-container>

<!-- Paginação -->
<div id="paginator">    
    <ng-container *ngIf="carregandoPagina">
        <ng-container *ngFor="let skeleton of skeletonNavegacao">
            <span class="skeleton" [ngStyle]=skeleton></span>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="!carregandoPagina">
        <span>{{ primeiroItem }} - {{ ultimoItem }} de {{ total }}</span>
        <button 
            [disabled]="paginacao.page==1"
            (click)="mudarPaginaDireta(1)"
        >
            <app-icons icon="leftLeft" [setClass]="['icon-menu']"></app-icons>
        </button>
        <button
            [disabled]="paginacao.page==1"
            (click)="mudarPaginacao(-1)"
        >
            <app-icons icon="left" [setClass]="['icon-menu']"></app-icons>
        </button>
        <select
            [(ngModel)]="paginacao.limit"
            (change)="mudarTamanhoLista(paginacao.limit)"
        >
            <option value="12">12</option>
            <option value="30">30</option>
            <option value="60">60</option>
            <option value="120">120</option>
        </select>
        <button
            [disabled]="paginacao.page==ultimaPagina"
            (click)="mudarPaginacao(1)"
        >
            <app-icons icon="right" [setClass]="['icon-menu']"></app-icons>
        </button>
        <button
            [disabled]="paginacao.page==ultimaPagina"
            (click)="mudarPaginaDireta(ultimaPagina)"
        >
            <app-icons icon="rightRight" [setClass]="['icon-menu']"></app-icons>
        </button>
    </ng-container>
</div>
