<header>
    <h1>Meus Baralhos</h1>
    
    <a id="criar-baralho" routerLink="/baralho/new">
        <app-icons icon="baralhoPlus" [setClass]="['icon-menu']"></app-icons><span>Novo Baralho</span>
    </a>
</header>
<main *ngIf="baralhos?.length">
    <ng-container *ngIf="loading">
        <ng-container *ngFor="let baralho of [].constructor(pag.limit || 1)">
            <span class="skeleton" [ngStyle]="{'width': '100%', 'height':'110px', 'border-radius':'10px', 'opacity':0.5 }"></span>
        </ng-container>  
    </ng-container>  
    <ng-container *ngIf="!loading">
        <ng-container *ngFor="let baralho of baralhos">
            <div class="card">
                <div class="card-icon" [ngStyle]="{'background-color': baralho.cor}" >
                    <span [ngStyle]="{'background-color': 'color-mix(in srgb, white 80%, '+baralho.cor+')'}"></span>
                </div>
                <div class="main-card">
                    <span>📆Criado: <strong>{{baralho.criatedAt | date}}</strong></span>
                    <h2>{{baralho.name}}</h2>
                    <div class="detail">
                        <div class="main-data">
                            <div class="tag-card">Cartas 
                                <span
                                [ngStyle]="{
                                    'color': 'color-mix(in srgb, white 60%, '+baralho.cor+')',
                                    'background-color': 'color-mix(in srgb, transparent 70%, '+baralho.cor+')',
                                }"
                                >
                                    <span>{{baralho.cartas.length}}</span>
                                </span>
                            </div>
                            <div class="tag-card">Raridade
                                <span
                                [ngStyle]="{
                                    'color': 'color-mix(in srgb, white 60%, '+baralho.cor+')',
                                    'background-color': 'color-mix(in srgb, transparent 70%, '+baralho.cor+')',
                                }"
                                >
                                    <span class="porcent-number">{{baralho.raridades.toFixed(0)}}<i>%</i></span>
                                </span>
                            </div>
                        </div>
                        
                        <div *ngIf="baralho.tipos.length">
                            <span class="title-detail" 
                            [ngStyle]="{
                                'color': 'color-mix(in srgb, white 60%, '+baralho.cor+')',
                            }">
                                Supertipos:
                            </span>
                            <ng-container *ngFor="let type of baralho.superTipo">
                                <div class="tag-card">{{type.label}}
                                    <span
                                    [ngStyle]="{
                                        'color': 'color-mix(in srgb, white 60%, '+baralho.cor+')',
                                        'background-color': 'color-mix(in srgb, transparent 70%, '+baralho.cor+')',
                                    }"
                                    ><span>{{type.count}}</span></span>
                                </div>
                            </ng-container>
                        </div>
                        
                        <div *ngIf="baralho.tipos.length">
                            <span class="title-detail" 
                            [ngStyle]="{
                                'color': 'color-mix(in srgb, white 60%, '+baralho.cor+')',
                            }">
                                Tipos:
                            </span>
                            <ng-container *ngFor="let type of baralho.tipos">
                                <div class="tag-card">
                                    {{type.label}}
                                    <span
                                    [ngStyle]="{
                                        'color': 'color-mix(in srgb, white 60%, '+typeColors[type.label]+')',
                                        'background-color': 'color-mix(in srgb, transparent 70%, '+typeColors[type.label]+')',
                                    }"
                                    ><span>{{type.count}}</span></span>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="card-acton">
                    <button [routerLink]="'/baralho/edit/'+baralho.id" ><app-icons icon="edit" [setClass]="['icon-menu']"></app-icons></button>
                    <button [routerLink]="'/baralho/'+baralho.id" ><app-icons icon="view" [setClass]="['icon-menu']"></app-icons></button>
                    <button (click)="deletarBaralho(baralho.id)" ><app-icons icon="delete" [setClass]="['icon-menu']"></app-icons></button>
                </div>
            </div>
        </ng-container>  
    </ng-container>  
</main>
<ng-container *ngIf="!baralhos?.length && !loading">
    <div class="no-data">
        <app-icons icon="noFile"></app-icons>
        <span>Nenhum Baralho foi encontrado.</span>
        <button routerLink="/baralho/new">CRIAR UM NOVO BARALHO</button>
    </div>
</ng-container>
<div id="paginator"  *ngIf="lastPage > 2" [ngClass]="{'disabled': lastPage==1}">
    
    <ng-container *ngIf="loading">
        <span class="skeleton" [ngStyle]="{'width': '80px', 'height':'calc(var(--font-size) * 1.2)', 'border-radius':'5px', 'opacity':0.5 }"></span>
        <span class="skeleton" [ngStyle]="{'width': '20px', 'height':'calc(var(--font-size) * 2)', 'border-radius':'5px', 'opacity':0.5 }"></span>
        <span class="skeleton" [ngStyle]="{'width': '20px', 'height':'calc(var(--font-size) * 2)', 'border-radius':'5px', 'opacity':0.5 }"></span>
        <span class="skeleton" [ngStyle]="{'width': '53px', 'height':'calc(var(--font-size) * 2)', 'border-radius':'5px', 'opacity':0.5 }"></span>
        <span class="skeleton" [ngStyle]="{'width': '20px', 'height':'calc(var(--font-size) * 2)', 'border-radius':'5px', 'opacity':0.5 }"></span>
        <span class="skeleton" [ngStyle]="{'width': '20px', 'height':'calc(var(--font-size) * 2)', 'border-radius':'5px', 'opacity':0.5 }"></span>
    </ng-container>
    <ng-container *ngIf="!loading">
        <span>{{ (pag.limit*pag.page)-pag.limit+1 }} - {{ (pag.limit*pag.page)-(pag.limit-baralhos.length) }} of {{total}}</span>
        <button [disabled]="pag.page==1" (click)="goPage(1)"><app-icons icon="leftLeft" [setClass]="['icon-menu']"></app-icons></button>
        <button [disabled]="pag.page==1" (click)="navPage(-1)"><app-icons icon="left" [setClass]="['icon-menu']"></app-icons></button>
        <select [(ngModel)]="pag.limit" (change)="sizelist(pag.limit)">
            <option value="12">12</option>
            <option value="30">30</option>
            <option value="60">60</option>
            <option value="120">120</option>
        </select>
        <button [disabled]="pag.page==lastPage" (click)="navPage(1)"><app-icons icon="right" [setClass]="['icon-menu']"></app-icons></button>
        <button [disabled]="pag.page==lastPage" (click)="goPage(lastPage)"><app-icons icon="rightRight" [setClass]="['icon-menu']"></app-icons></button>
    </ng-container>
</div>
