<nav>
    <a routerLink="/" title="Pokémon TCG" ><img src="assets/img/svg/logo;.svg" alt="Pokémon TCG" /></a>
    
    <ul id="menu-pincipal">
        <li *ngFor="let item of itemMenu">
            <a [routerLink]="item.router" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <app-icons [icon]="item.icon" [setClass]="['icon-menu']"></app-icons><span>{{item.label}}</span>
            </a>
        </li>
    </ul>
    
    <ul id="social">
        <li *ngFor="let item of socialMenu">
            <a [href]="item.router" target="_blank" [title]="item.label"><app-icons [icon]="item.icon" [setClass]="['icon-menu']"></app-icons></a>
        </li>
    </ul>
</nav>
