.skeleton{
    opacity: 0.8;
    background-color: #e2d1e2;
    position: relative;
    overflow: hidden;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 200%;
        height: 200%;
        filter: blur(10px);
        background-image: linear-gradient(90deg, transparent 0%, #947994 25%, transparent 50%, #947994 75%, transparent 100%);
        animation: skeletonG 3s infinite linear;
    }
}

@keyframes skeletonG {
    0%{ right: 0%; }
    100%{ right: -100%; }
}